body {
    background-color: #131516;
    color: white;
    font-size: 1.15em;
    font-family: courier;

    max-width: 800px;
    margin: auto;
    padding: 15px 0;

    overflow-wrap: break-word;

    height: 100%;
    width: 100%;
}

#light-theme {
    background-color: white !important;
    color: black !important;
}

nav a {
    padding: 0 15px;
    font-size: 1.3em;
}

nav a:nth-child(1) {
    padding-left: 0;
}

a {
    color: #eba613;
}

#toggle-theme {
    float: right;
    font-size: 1em;
}

.header-anchor {
    text-decoration: none;
    font-size: 0.6em;
}

code {
    background-color: #353535;
    border-radius: 7px;
    color: #EB5757;
    padding: 2px;
}

img {
    max-width: 800px;
}

/* Mailchimp form */
#mc_embed_signup {
    text-align: center;
    margin-top: 50px;
}

#mce-EMAIL {
    background-color: #3a3a3a;
    border-radius: 15px;
    color: white;
    padding: 10px;
}

#mc-embedded-subscribe {
    margin-top: 20px;
    padding: 5px;
}

@media screen and (max-width: 700px) {
    #mce-EMAIL {
        max-width: 250px;
        font-size: 1.2em;
        text-align: center;
    }

    #mc-embedded-subscribe {
        font-size: 1.2em;
    }
}

/* hljs */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 15px;
    border-radius: 5px;
    color: #9a9a9a;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background-color: #252525;

    font-size: 1.15em;
}

.hljs-comment, .hljs-quote {
    color: #4f545c;
}

.hljs-addition, .hljs-keyword, .hljs-selector-tag {
    color: #859900;
}

.hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
    color: #2aa198;
}
.hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
    color: #268bd2;
}

.hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #b58900;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol{
    color: #cb4b16;
}

.hljs-built_in, .hljs-deletion {
    color: #dc322f;
}

.hljs-formula {
    background: #073642;
}

.hljs-emphasis{
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}