<!DOCTYPE html>
<html>
<head>
    <!-- Primary Meta Tags -->
    <title>@meta(title, '@config(site.name)')</title>
    <meta name="title" content="@meta(title, '@config(site.name)')">
    <meta name="description" content="@meta(description, '@config(site.description)')">
    <meta name="keywords" content="Walshy, WalshyDev, Daniel, Walsh, Daniel Walsh, personal, site, blog, projects" />
    <meta name="author" content="Walshy" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="@meta(url, 'https://walshy.dev')">
    <meta property="og:title" content="@meta(title, '@config(site.name)')">
    <meta property="og:description" content="@meta(description, '@config(site.description)')">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="@meta(url, 'https://walshy.dev')">
    <meta property="twitter:title" content="@meta(title, '@config(site.name)')">
    <meta property="twitter:description" content="@meta(description, '@config(site.description)')">

    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="https://twitter.com/WalshyDev" target="_blank">Twitter</a>
        <a href="https://github.com/WalshyDev" target="_blank">GitHub</a>

        <button id="toggle-theme" onclick="toggleTheme()">Light Theme</button>
    </nav>