---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <div class="prose max-w-none">
    <slot />
  </div>
</Base>
